{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Cosmolite | Statistik</title>
    <link rel="shortcut icon" href="{% static 'reseller/assets/img/logo-fav.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'reseller/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'reseller/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'reseller/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'reseller/assets/css/owl.theme.default.css' %}">
</head>

<body>

    <div class="container-custom">
        <nav class="navbar navbar-cari-produk sticky-top" id="navbar">
            <div class="col d-flex justify-content-start align-items-center p-0">
                <a href="{% url 'webcosmoappreseller:dashboard' %}" class="btn p-0">
                    <img src="{% static 'reseller/assets/img/Icons/Component 4 – 26.png' %}">
                </a>
                <h1 class="">
                    Statistik
                </h1>
            </div>
        </nav>
        <div class="section-1-statistik">
            <div class="container">
                <div class="section-1-statistik-main">
                    <div class="card-komisi">
                        <div class="card-komisi-header">
                            <div class="row no-gutters">
                                <div class="col-3 d-flex align-items-center">
                                    <h1>
                                        Komisi
                                    </h1>
                                </div>
                                <div class="col">
                                    <p class="text-right">
                                        Rp. 20.000.000,-
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-komisi-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card-komisi-content">
                                        <div class="card-komisi-main-content">
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <div class="row no-gutters">
                                                        <div
                                                            class="col-sm-3 d-flex justify-content-center align-items-center">
                                                            <div
                                                                class="dot-komisi d-flex justify-content-center align-items-center">
                                                                <h1>
                                                                    10
                                                                </h1>
                                                            </div>
                                                        </div>
                                                        <div class="col d-flex align-items-center">
                                                            <div
                                                                class="card-komisi-text d-flex justify-content-center align-items-start flex-column">
                                                                <h1>
                                                                    Klik
                                                                </h1>
                                                                <p>
                                                                    Jumlah Klik di produk
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-komisi-content">
                                        <div class="card-komisi-main-content">
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <div class="row no-gutters">
                                                        <div
                                                            class="col-sm-3 d-flex justify-content-center align-items-center">
                                                            <div
                                                                class="dot-komisi d-flex justify-content-center align-items-center">
                                                                <h1>
                                                                    10
                                                                </h1>
                                                            </div>
                                                        </div>
                                                        <div class="col d-flex align-items-center">
                                                            <div
                                                                class="card-komisi-text d-flex justify-content-center align-items-start flex-column">
                                                                <h1>
                                                                    Diproses
                                                                </h1>
                                                                <p>
                                                                    Jumlah yang diproses
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-komisi-content">
                                        <div class="card-komisi-main-content">
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <div class="row no-gutters">
                                                        <div
                                                            class="col-sm-3 d-flex justify-content-center align-items-center">
                                                            <div
                                                                class="dot-komisi d-flex justify-content-center align-items-center">
                                                                <h1>
                                                                    10
                                                                </h1>
                                                            </div>
                                                        </div>
                                                        <div class="col d-flex align-items-center">
                                                            <div
                                                                class="card-komisi-text d-flex justify-content-center align-items-start flex-column">
                                                                <h1>
                                                                    Terjual
                                                                </h1>
                                                                <p>
                                                                    Jumlah yang terjual
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-komisi-content">
                                        <div class="card-komisi-main-content">
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <div class="row no-gutters">
                                                        <div
                                                            class="col-sm-3 d-flex justify-content-center align-items-center">
                                                            <div
                                                                class="dot-komisi d-flex justify-content-center align-items-center">
                                                                <h1>
                                                                    10
                                                                </h1>
                                                            </div>
                                                        </div>
                                                        <div class="col d-flex align-items-center">
                                                            <div
                                                                class="card-komisi-text d-flex justify-content-center align-items-start flex-column">
                                                                <h1>
                                                                    Penjualan
                                                                </h1>
                                                                <p>
                                                                    Jumlah yang terjual
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-komisi-content">
                                        <div class="card-komisi-main-content">
                                            <div class="row no-gutters">
                                                <div class="col">
                                                    <div class="row no-gutters">
                                                        <div
                                                            class="col-sm-3 d-flex justify-content-center align-items-center">
                                                            <div
                                                                class="dot-komisi d-flex justify-content-center align-items-center">
                                                                <h1>
                                                                    10
                                                                </h1>
                                                            </div>
                                                        </div>
                                                        <div class="col d-flex align-items-center">
                                                            <div
                                                                class="card-komisi-text d-flex justify-content-center align-items-start flex-column">
                                                                <h1>
                                                                    Pending
                                                                </h1>
                                                                <p>
                                                                    Jumlah yang dipending
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2-statistik">
            <div class="container">
                <div class="section-2-statistik-main">
                    <div class="riwayat-header">
                        <h1>
                            Riwayat Penjualan
                        </h1>
                        <!-- <div class="riwayat-penjualan-status">
                            <ul>
                                <li class="ml-0">
                                    <a href="#" class="btn active">
                                        Tertunda
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="btn">
                                        Diproses
                                    </a>
                                </li>
                                <li class="ml-0">
                                    <a href="#" class="btn">
                                        Selesai
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="riwayat-body">
                        {% for peme in pemesanan %}
                        <div class="card-pesanan">
                            <div class="row no-gutters">
                                <div class="col col-lg-3">
                                    <img src="{{ detailproduk.thumb_image.url }}" alt=""
                                        class="img-card-pesanan img-fluid">
                                </div>
                                <div class="col col-lg ml-3 d-flex flex-column align-items-start">
                                    <h1>
                                        {{ peme.id_produk.nama_produk }}
                                    </h1>
                                    <p>
                                        Nama Enduser: {{ peme.nama_enduser }} <br>
                                        Alamat : {{ peme.alamat }} <br>
                                        Qty: {{ peme.qty }} <br>
                                        Total : Rp. {{ peme.subtotal|add:produk.harga_komisi|intcomma }}

                                    </p>
                                    <div class="flex-grow-1 d-flex justify-content-end">
                                        {% if peme.status == '1' %}
                                        <a href="#" class="btn btn-pesanan">
                                            Menunggu Pembayaran
                                        </a>
                                        {% elif peme.status == '2' %}
                                        <a href="#" class="btn btn-pesanan">
                                            Pembayaran Selesai
                                        </a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                            <p class="pesanan-date text-right">
                                {{ peme.tanggal_update }}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'reseller/assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'reseller/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'reseller/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'reseller/assets/js/script.js' %}"></script>
</body>

</html>